## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [140]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [141]:
# Your code here

sample_list_1 = random.sample(range(101), k = 80)

random.shuffle(sample_list_1)
print (sample_list_1)

[31, 63, 85, 69, 28, 65, 17, 75, 36, 73, 56, 2, 91, 1, 72, 20, 13, 74, 57, 88, 8, 67, 53, 64, 58, 90, 60, 14, 41, 89, 19, 92, 81, 3, 68, 95, 46, 23, 4, 48, 59, 50, 100, 6, 54, 27, 44, 93, 30, 37, 71, 10, 96, 12, 35, 77, 34, 84, 45, 99, 61, 94, 29, 79, 9, 32, 25, 33, 42, 43, 66, 78, 0, 47, 21, 22, 87, 18, 76, 49]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [202]:
# Your code here

set1 = sample_list_1

print (len(random.sample(set1, 80)))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [210]:
# Your code here

sample_list_2 = [random.randint(0, 100) for i in range (80)]

random.shuffle(sample_list_2)
print (sample_list_2)

[76, 14, 88, 76, 70, 0, 52, 93, 19, 39, 58, 65, 62, 80, 28, 22, 98, 52, 76, 20, 79, 7, 58, 64, 80, 98, 100, 94, 61, 39, 92, 91, 54, 87, 57, 84, 100, 42, 2, 21, 92, 49, 71, 22, 16, 43, 3, 34, 75, 25, 79, 49, 9, 40, 68, 87, 81, 92, 34, 80, 20, 32, 59, 94, 80, 37, 12, 35, 33, 1, 74, 16, 19, 31, 15, 27, 15, 55, 72, 42]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [211]:
# Your code here

set2 = sample_list_2

print(len(set2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here

set3 = set1.difference(set2)
print(set3)

NameError: name 'set1' is not defined

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here

set4 = set2.difference(set1)
print(set4)

NameError: name 'set2' is not defined

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [5]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

NameError: name 'set1' is not defined

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

#### Create an empty set called `set6`.

In [11]:
# Your code here

set6 = ()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here