## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [12]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here
sample_list_1 = random.sample(range(100),(80))

print (sample_list_1)

[39, 15, 37, 69, 23, 53, 31, 32, 96, 9, 92, 8, 35, 17, 90, 50, 10, 97, 55, 38, 95, 11, 59, 1, 16, 70, 41, 0, 99, 45, 30, 61, 33, 93, 57, 76, 12, 3, 86, 40, 6, 54, 68, 64, 51, 25, 44, 47, 34, 81, 56, 48, 13, 46, 87, 74, 52, 79, 88, 75, 29, 60, 20, 62, 42, 22, 80, 18, 43, 83, 84, 73, 63, 5, 58, 78, 82, 89, 27, 2]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [56]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [60]:
# Your code here
sample_list_2 = [random.randint(0, 100) for i in range (80)]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [61]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [62]:
# Your code here
set3 = [x for x in set1 if x not in set2]
set3 = set(set3)
print(set3)
type(set3)

{1, 5, 11, 13, 22, 23, 25, 27, 29, 30, 33, 35, 38, 40, 41, 42, 43, 44, 46, 47, 53, 54, 55, 56, 57, 61, 62, 63, 68, 70, 75, 82, 83, 86, 88, 90, 93, 95, 96, 99}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [63]:
# Your code here
set4 = [x for x in set2 if x not in set1]
set4 = set(set4)
print(set4)

{65, 66, 67, 4, 36, 100, 7, 72, 77, 14, 19, 21, 91, 28}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [64]:
# Your code here

list1_set = set(set1)

set5 = list1_set.intersection(set2)

print(set5)

type(set5)

{0, 2, 3, 6, 8, 9, 10, 12, 15, 16, 17, 18, 20, 31, 32, 34, 37, 39, 45, 48, 50, 51, 52, 58, 59, 60, 64, 69, 73, 74, 76, 78, 79, 80, 81, 84, 87, 89, 92, 97}

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [65]:
# Your code here

#no se exactamente que hay que hacer, ¿sumar todos los len? ¿print cada uno de ellos?

#### Create an empty set called `set6`.

In [66]:
# Your code here
set6 = ([])
print(set6)
set6 = set(set6)

[]

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [67]:
# Your code here

set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [68]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [80]:
# Your code here
print(set1.issubset(set2))

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [82]:
# Your code here 
set_union1 = set3.union(set4, set5)

set_union2 = set1.union(set2)

set_union1 == set_union2

False

#### Using the `pop` method, remove the first element from `set1`.

In [83]:
# Your code here
set1.pop()

print(set1)

{3, 5, 6, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 22, 23, 25, 27, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 68, 69, 70, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [84]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print([i for i in set1 if i not in list_to_remove])

[3, 5, 6, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 25, 27, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 68, 70, 73, 74, 75, 76, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 95, 96, 97]