## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [93]:
# Your code here

list_range =  range(0,101)


sample_list_1 = random.sample(list_range, 80)
print(sample_list_1)
len(sample_list_1)

[42, 62, 99, 79, 39, 67, 20, 41, 48, 66, 14, 57, 92, 16, 76, 22, 70, 55, 97, 71, 80, 86, 27, 78, 83, 44, 73, 4, 93, 2, 96, 63, 60, 23, 77, 33, 98, 31, 0, 12, 6, 81, 69, 91, 32, 15, 34, 11, 54, 35, 58, 95, 45, 8, 61, 43, 46, 84, 24, 26, 74, 94, 59, 64, 52, 88, 53, 72, 7, 51, 75, 90, 87, 56, 37, 13, 89, 40, 10, 18]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [94]:
# Your code here

set1 =  set(sample_list_1)
len(set1) == len(sample_list_1)
print(set1)

{0, 2, 4, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 26, 27, 31, 32, 33, 34, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [69]:
# Your code here


sample_list_22 = []
sample_list_2 = []

#Esto sería en el caso de que no queramos que haya números repetidos
while len(sample_list_22) < 80:
    x = random.randint(0,101)
    if x not in sample_list_22:
        sample_list_22.append(x)
        
len(sample_list_22)

#Como en este ejercicio esto da igual:

while len(sample_list_2) < 80:
    x = random.randint(0,101)
    if x not in sample_list_2:
        sample_list_2.append(x)
        
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here

set2 =  set(sample_list_2)
print(len(set2))

len(set2) == len(sample_list_2)

80

True

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [57]:
# Your code here

set3 = []

for i, j in zip(set1, set2):
    if i != j:
        set3.append(i)
        
set3 = set(set3)
print(set3)

{0, 1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 46, 47, 48, 51, 52, 54, 55, 57, 58, 59, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 96, 97, 98, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [38]:
# Your code here

set4 = []

for i, j in zip(set1, set2):
    if i != j:
        set4.append(j)
        
print(set4)

[1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 30, 31, 32, 33, 34, 35, 36, 37, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 61, 63, 64, 65, 66, 68, 70, 71, 73, 74, 75, 77, 79, 80, 81, 82, 83, 84, 85, 95, 96, 99, 100, 101]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [39]:
# Your code here

set5 = []

for i, j in zip(set1, set2):
    if i == j:
        set5.append(i)
        
print(set5)

[3, 4, 17, 26, 27, 28, 88, 89, 90, 91, 94]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [42]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [50]:
# Your code here

print("set3 values: ",set3)
print("set6 values: ",set5)

set6.update(set3,set5)
print("set6 values: ", set6)
type(set6)

set3 values:  [0, 1, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 46, 47, 48, 51, 52, 54, 55, 57, 58, 59, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 96, 97, 98, 99, 100]
set6 values:  [3, 4, 17, 26, 27, 28, 88, 89, 90, 91, 94]
set6 values:  {0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 46, 47, 48, 51, 52, 54, 55, 57, 58, 59, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 96, 97, 98, 99, 100}

set

#### Check if `set1` and `set6` are equal.

In [53]:
# Your code here

set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [62]:
# Your code here

# es decir, si set2 esta dentro de set1

contains_1 = set2.issubset(set1)
contains_2 = set3.issubset(set1)

print(contains_1)
print(contains_2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [65]:
# Your code here

#Juntaremos todos los elementos distintos de los set que queremos unir

union_1 = set3.union(set4, set5)
print("First union: ",union_1)
type(union_1)

union_2 = union_1.union(set1, set2)
print("Second union: ", union_2)

#Check if the aggregated values are equal.
##Esta pregunta no la entiendo muy bien.. por definición en un set no puede haber valores iguales??

First union:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99, 100, 101}
Second union:  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 94, 95, 96, 97, 98, 99, 100, 101}

#### Using the `pop` method, remove the first element from `set1`.

In [90]:
# Your code here
set1 = {0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98} 
print(set1)

print(set1.pop()) 
 
print("El set resultado", set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98}
0
El set resultado {1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 89, 90, 91, 92, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [96]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remain_elements = []

for i in set1:    
    if i not in list_to_remove:
        remain_elements.append(i)
        
print(remain_elements)

[0, 2, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 26, 27, 32, 33, 34, 35, 37, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98]