## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(0, 100), 80)
print(sample_list_1)

[62, 72, 63, 24, 79, 50, 56, 94, 12, 21, 20, 29, 82, 31, 48, 80, 10, 98, 25, 36, 96, 75, 93, 89, 43, 8, 44, 2, 70, 4, 64, 88, 39, 49, 9, 28, 99, 22, 45, 14, 3, 32, 81, 16, 58, 76, 47, 97, 5, 95, 7, 53, 69, 71, 11, 87, 30, 73, 17, 61, 1, 90, 51, 18, 65, 91, 15, 6, 33, 68, 38, 23, 41, 60, 55, 54, 78, 52, 13, 40]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

# the length is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2 = []

for i in range(0, 80):
    sample_list_2.append(random.randint(0, 100))

len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

# the length is smaller than 80

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [30]:
# Your code here
set3 = set()

for i in set1:
    if i not in set2:
        set3.add(i)

print(set3)

{3, 4, 6, 7, 9, 10, 18, 20, 21, 22, 28, 31, 36, 40, 41, 43, 44, 45, 47, 50, 52, 54, 56, 58, 60, 63, 64, 68, 71, 73, 78, 82, 90, 91, 96, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Your code here
set4 = set()

for j in set2:
    if j not in set1:
        set4.add(j)
        
print(set4)

{0, 35, 67, 100, 77, 19, 84, 85, 57, 26}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [28]:
# Your code here
set5 = set()

for i in set1:
    if i in set2:
        set5.add(i)
        
print(set5)

{1, 2, 5, 8, 11, 12, 13, 14, 15, 16, 17, 23, 24, 25, 29, 30, 32, 33, 38, 39, 48, 49, 51, 53, 55, 61, 62, 65, 69, 70, 72, 75, 76, 79, 80, 81, 87, 88, 89, 93, 94, 95, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [38]:
# Your code here

len(set1) == len(set5) + len(set3)
len(set2) == len(set5) + len(set4)

True

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [31]:
# Your code here
set6.update(set3, set5)

#### Check if `set1` and `set6` are equal.

In [32]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [33]:
# Your code here
first_check = set2.issubset(set1)
second_check = set3.issubset(set1)

print(first_check)
print(second_check)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [34]:
# Your code here

union1 = set3.union(set4, set5)
union2 = set1.union(set2)

union1 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [47]:
# Your code here
# I have tried using pop directly on set1 but apparently (according to w3schools) the element removed using pop is random. I have seen that lists do allow pop to be indexed and therefore have converted set1 into a list, used pop and then reconverted the list to set7
x = list(set1)
x.pop(0)
set7 = set(x)
print(set7)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 28, 29, 30, 31, 32, 33, 36, 38, 39, 40, 41, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 60, 61, 62, 63, 64, 65, 68, 69, 70, 71, 72, 73, 75, 76, 78, 79, 80, 81, 82, 87, 88, 89, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [48]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 28, 30, 32, 33, 36, 38, 40, 43, 44, 45, 47, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 68, 70, 72, 73, 75, 76, 78, 80, 82, 87, 88, 90, 93, 94, 95, 96, 97, 98}