## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = []
for i in range(80):
    sample_list_1.append(random.randint(0,100))

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here
set1 = sample_list_1
set(set1)
type(set1)
print(len(set1))

#si sigue siendo 80. el contenido no cambió porque no se repitieron numerosy  solo cambió el tipo de formato.

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here

set2 = sample_list_2
set(set2)
type(set2)
print(len(set1))

print(sample_list_2)
#sigue siendo 80 , jupyter me esta dando problemas con la conversion de list a set en iterm si me ha funcionado.

80
[59, 32, 86, 16, 42, 13, 12, 51, 96, 80, 0, 53, 74, 86, 49, 96, 47, 54, 69, 4, 37, 50, 14, 87, 66, 15, 33, 41, 91, 99, 98, 6, 40, 0, 3, 50, 39, 18, 94, 8, 61, 64, 51, 44, 11, 41, 11, 86, 29, 91, 17, 67, 43, 98, 53, 9, 67, 98, 80, 12, 14, 77, 24, 96, 29, 96, 76, 5, 74, 57, 24, 82, 38, 68, 92, 48, 18, 48, 4, 59]

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [91]:
# Your code here
set3 = []
for i in set1:
    if i != set2:
        set3.append(i)
print(set3)

[59, 32, 86, 16, 42, 13, 12, 51, 96, 80, 0, 53, 74, 86, 49, 96, 47, 54, 69, 4, 37, 50, 14, 87, 66, 15, 33, 41, 91, 99, 98, 6, 40, 0, 3, 50, 39, 18, 94, 8, 61, 64, 51, 44, 11, 41, 11, 86, 29, 91, 17, 67, 43, 98, 53, 9, 67, 98, 80, 12, 14, 77, 24, 96, 29, 96, 76, 5, 74, 57, 24, 82, 38, 68, 92, 48, 18, 48, 4, 59]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [50]:
# Your code here
set4 = []
for i in set2:
    if i != set1:
        set3.append(i)
print(set3)

[87, 81, 99, 23, 64, 84, 74, 20, 49, 14, 0, 2, 10, 18, 71, 30, 80, 74, 56, 100, 61, 60, 16, 63, 88, 63, 14, 35, 92, 37, 23, 79, 93, 56, 48, 80, 74, 27, 29, 82, 98, 68, 99, 57, 93, 8, 18, 33, 50, 20, 97, 46, 64, 76, 51, 4, 26, 20, 64, 51, 48, 25, 98, 88, 5, 35, 86, 74, 96, 85, 91, 52, 75, 72, 72, 80, 18, 39, 63, 93, 59, 32, 86, 16, 42, 13, 12, 51, 96, 80, 0, 53, 74, 86, 49, 96, 47, 54, 69, 4, 37, 50, 14, 87, 66, 15, 33, 41, 91, 99, 98, 6, 40, 0, 3, 50, 39, 18, 94, 8, 61, 64, 51, 44, 11, 41, 11, 86, 29, 91, 17, 67, 43, 98, 53, 9, 67, 98, 80, 12, 14, 77, 24, 96, 29, 96, 76, 5, 74, 57, 24, 82, 38, 68, 92, 48, 18, 48, 4, 59, 59, 32, 86, 16, 42, 13, 12, 51, 96, 80, 0, 53, 74, 86, 49, 96, 47, 54, 69, 4, 37, 50, 14, 87, 66, 15, 33, 41, 91, 99, 98, 6, 40, 0, 3, 50, 39, 18, 94, 8, 61, 64, 51, 44, 11, 41, 11, 86, 29, 91, 17, 67, 43, 98, 53, 9, 67, 98, 80, 12, 14, 77, 24, 96, 29, 96, 76, 5, 74, 57, 24, 82, 38, 68, 92, 48, 18, 48, 4, 59]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [51]:
# Your code here
set(set1)
set(set2)

{0,
 3,
 4,
 5,
 6,
 8,
 9,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 24,
 29,
 32,
 33,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 57,
 59,
 61,
 64,
 66,
 67,
 68,
 69,
 74,
 76,
 77,
 80,
 82,
 86,
 87,
 91,
 92,
 94,
 96,
 98,
 99}

In [74]:
set(set5) = set).intersection(set2)
type(set1)
type(set2)

# no me convierte en set en la terminal si que me funciona

SyntaxError: cannot assign to function call (<ipython-input-74-dfc8f7dea006>, line 1)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# no lo sé...

#### Create an empty set called `set6`.

In [49]:
# Your code here
set6 = {}
set(set6)
type(set6)
# en la terminal si que me cambia a set y me aparece set() y si pongo print(set6) me aparece {})

dict

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

set6.update(set3)


set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [65]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [72]:
# Your code here
check = set(set1).issubset(set(set2))

print(check)

check2 = set(set1).issubset(set(set3))
print(check2)

True
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [87]:
# Your code here
total_set = set3 + set4

#no he sumado set 5 por los problemas arriba mencionados

total_set = set1 + set2

total_set == set3 + set4 + set1 + set2

False

#### Using the `pop` method, remove the first element from `set1`.

In [92]:
# Your code here.
set1.pop(0)

59

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [110]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

print(set1)

print(len(list_to_remove))

#for i in list_to_remove:
 #   lista = 20
   # if lista != 0:
    #    set1.remove(i)
print(len(set1))  

#while (len(set1)) != len(list_to_remove):
    n=1
    set1.remove(n)
    set1.remove(n+8)
    set1.remove(n+2)
    
    for x in list_to_remove:
    if x in set1:
        set1.remove(x)

print(set1)

[32, 86, 16, 42, 13, 12, 51, 96, 80, 0, 53, 74, 86, 49, 96, 47, 54, 69, 4, 37, 50, 14, 87, 66, 15, 33, 41, 91, 99, 98, 6, 40, 0, 3, 50, 39, 18, 94, 8, 61, 64, 51, 44, 11, 41, 11, 86, 29, 91, 17, 67, 43, 98, 53, 67, 98, 80, 12, 14, 77, 24, 96, 29, 96, 76, 5, 74, 57, 24, 82, 38, 68, 92, 48, 18, 48, 4, 59]
20
78