## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [22]:
# Your code here
sample_list_1=random.sample(range(100),k=80)
print(sample_list_1)

[15, 11, 37, 44, 33, 96, 18, 45, 41, 8, 84, 77, 55, 88, 78, 9, 58, 31, 56, 82, 74, 25, 66, 52, 21, 26, 73, 81, 36, 61, 3, 54, 91, 63, 16, 43, 89, 53, 12, 85, 49, 68, 42, 13, 48, 23, 75, 93, 79, 86, 70, 71, 29, 99, 1, 2, 19, 32, 57, 17, 10, 7, 40, 59, 34, 72, 90, 51, 67, 97, 14, 30, 4, 39, 38, 20, 35, 62, 95, 92]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [23]:
# Your code here
set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [24]:
# Your code here
sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(len(sample_list_2))

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [25]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [26]:
# Your code here
set3=[]
for item in set1:
    if item not in set2:
        set3.append(item)
set3=set(set3)
#Esto de arriba no sé si es muy convencional hacerlo, pero como te piden que generes un set, lo transformo en set :P
print(set3)

{1, 7, 9, 10, 11, 13, 14, 17, 18, 19, 21, 26, 35, 37, 38, 39, 40, 41, 43, 45, 49, 51, 61, 62, 63, 66, 73, 74, 75, 77, 78, 89, 90, 91, 95, 96, 97, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
# Your code here
set4=[]
for item in set2:
    if item not in set1:
        set4.append(item)
set4=set(set4)
print(set4)

{0, 64, 65, 5, 46, 60, 80, 50, 87, 24, 28, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [28]:
# Your code here
set5=[]
for item in set1:
    if item in set2:
        set5.append(item)
set5=set(set5)
print(set5)

{2, 3, 4, 8, 12, 15, 16, 20, 23, 25, 29, 30, 31, 32, 33, 34, 36, 42, 44, 48, 52, 53, 54, 55, 56, 57, 58, 59, 67, 68, 70, 71, 72, 79, 81, 82, 84, 85, 86, 88, 92, 93}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [30]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
#Los sets originales son 1 y 2, set5 te dice los números que están en ambos sets originales(1 y 2).
#set3 son los números que hay en set1 pero no en set2, es lógico que set1=set3+set5, los que comparte y los que no con set2
#set4 son los números que hay en set2 pero no en set1, igual que antes set2=set4+set5, los números compartidos + 
#números no compartidos

80
54
38
12
42

#### Create an empty set called `set6`.

In [43]:
# Your code here
set6=set(())
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 25, 26, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 66, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 81, 82, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here
newset1=(set3.union(set4)).union(set5)
print(len(newset1))
newset2=set1.union(set2)
print(len(newset2))
newset1 == newset2

92
92

True

#### Using the `pop` method, remove the first element from `set1`.

In [57]:
# Your code here
set1.pop()
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [62]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for item in list_to_remove:
    set1.discard(item)
print(set1)

{2, 3, 4, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 23, 25, 26, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 48, 52, 53, 54, 55, 56, 57, 58, 62, 63, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 82, 84, 85, 86, 88, 90, 92, 93, 95, 96, 97}